
      <tr><td><em><%= message.user.email %></em></td> 
      <td><%= message.body %></td>
      <td><%= message.created_at %></td>
      <td><%= button_to 'Delete Message', message_path(message.id), method: :delete %></td></tr>
   