---
http_interactions:
- request:
    method: get
    uri: http://api.themoviedb.org/3/movie/latest?api_key=DONT_LOOK&language=en-US
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Memc:
      - MISS
      X-Memc-Key:
      - f54ee60e728b8b79a2323ad7a0f7d6461e26906f
      X-Memc-Age:
      - '0'
      X-Memc-Expires:
      - '0'
      Last-Modified:
      - '2021-04-01 04:29:34 +0000'
    body:
      encoding: ASCII-8BIT
      string: '{"adult":false,"backdrop_path":null,"belongs_to_collection":null,"budget":0,"genres":[],"homepage":"","id":812646,"imdb_id":null,"original_language":"en","original_title":"Daylight
        Bombing Raids On Europe","overview":"Whilst the Royal Air Force concentrated
        on bombing Germany at night, the United States Air Force carried out a dangerous
        strategic bombing campaign against Nazi Germany during daylight hours. On
        every raid, bombers suffered damage, exploded in mid-air, fell from the sky
        in pieces or crashed in flames. For the Flying Fortresses and Liberator Bombers
        of the 8th Air Force and 9th Air Force, it was a testing time high in the
        deadly skies over war-torn Europe.","popularity":0.0,"poster_path":null,"production_companies":[],"production_countries":[],"release_date":"","revenue":0,"runtime":57,"spoken_languages":[],"status":"Released","tagline":"","title":"Daylight
        Bombing Raids On Europe","video":false,"vote_average":0.0,"vote_count":0}'
  recorded_at: Thu, 01 Apr 2021 04:29:44 GMT
- request:
    method: get
    uri: http://api.themoviedb.org/3/movie/812646?api_key=DONT_LOOK&language=en-US
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Memc:
      - MISS, STORE
      X-Memc-Key:
      - fa313edf313ef7c70195821ed81091fd87c6e873
      X-Memc-Age:
      - '0'
      X-Memc-Expires:
      - '21600'
      Last-Modified:
     [...]
- request:
    method: get
    uri: http://api.themoviedb.org/3/search/movie?api_key=DONT_LOOK&include_adult=false&language=en-US&page=1&query=GoodFellas
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
    body:
      encoding: ASCII-8BIT
      string: '{"page":1,"results":[{"adult":false,"backdrop_path":"/sw7mordbZxgITU877yTpZCud90M.jpg","genre_ids":[18,80],"id":769,"original_language":"en","original_title":"GoodFellas","overview":"The
        true story of Henry Hill, a half-Irish, half-Sicilian Brooklyn kid who is
        adopted by neighbourhood gangsters at an early age and climbs the ranks of
        a Mafia family under the guidance of Jimmy Conway.","popularity":25.724,"poster_path":"/6QMSLvU5ziIL2T6VrkaKzN2YkxK.jpg","release_date":"1990-09-12","title":"GoodFellas","video":false,"vote_average":8.4,"vote_count":8734},{"adult":false,"backdrop_path":null,"genre_ids":[99],"id":696842,"original_language":"en","original_title":"Scorsese''s
        Goodfellas","overview":"In this produced by Brett Ratner new retrospective
        documentary we hear from cast members and additional participants include
        Harvey Keitel, Leonardo DiCaprio and Terence Winter, creator of Boardwalk
        Empire and screenwriter of The Wolf of Wall Street. The program gives us thoughts
        about Scorsese''s approach to the material, casting, characters, and performances,
        costumes and period details, photography, music, and retrospective thoughts
        about the film. It is filled with memorable stories and observations from
        a wide array of commentators.","popularity":1.977,"poster_path":"/eQPjyYlRduhxDP7To0kMfMaOkiU.jpg","release_date":"2015-05-05","title":"Scorsese''s
        Goodfellas","video":true,"vote_average":8,"vote_count":5}],"total_pages":1,"total_results":2}'
  recorded_at: Thu, 01 Apr 2021 04:29:45 GMT
- request:
    method: get
    uri: http://api.themoviedb.org/3/search/movie?api_key=DONT_LOOK&include_adult=false&language=en-US&page=2&query=GoodFellas
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      Etag:
      - 11763acc8ba9ee49f1f166ce39a34730
    body:
      encoding: UTF-8
      string: '{"page":2,"results":[],"total_pages":1,"total_results":2}'
  recorded_at: Thu, 01 Apr 2021 04:29:45 GMT
recorded_with: VCR 6.0.0
