---
http_interactions:
- request:
    method: get
    uri: https://api.themoviedb.org/3/movie/123?api_key=DONT_LOOK&language=en-US
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Memc:
      - HIT
      X-Memc-Key:
      - c33f1ae3ad898e8abd8e3235daac6c22b7770a22
      X-Memc-Age:
      - '17713'
      X-Memc-Expires:
      - '3887'
      Etag:
      - W/"2c4988d7ba804a2cc226602f2e98de4e"
    body:
      encoding: ASCII-8BIT
      string: '{"adult":false,"backdrop_path":"/jOuCWdh0BE6XPu2Vpjl08wDAeFz.jpg","belongs_to_collection":null,"budget":4000000,"genres":[{"id":12,"name":"Adventure"},{"id":16,"name":"Animation"},{"id":14,"name":"Fantasy"}],"homepage":"","id":123,"imdb_id":"tt0077869","original_language":"en","original_title":"The
        Lord of the Rings","overview":"The Fellowship of the Ring embark on a journey
        to destroy the One Ring and end Sauron''s reign over Middle-earth.","popularity":20.659,"poster_path":"/4O3s0IGZJirPBecqEnP9qsjlTQw.jpg","production_companies":[{"id":286,"logo_path":null,"name":"Fantasy
        Films","origin_country":""},{"id":4921,"logo_path":null,"name":"Bakshi Productions","origin_country":""},{"id":141322,"logo_path":null,"name":"Saul
        Zaentz Film Productions","origin_country":""}],"production_countries":[{"iso_3166_1":"ES","name":"Spain"},{"iso_3166_1":"GB","name":"United
        Kingdom"},{"iso_3166_1":"US","name":"United States of America"}],"release_date":"1978-11-15","revenue":30471420,"runtime":132,"spoken_languages":[{"english_name":"English","iso_639_1":"en","name":"English"}],"status":"Released","tagline":"Fantasy...beyond
        your imagination","title":"The Lord of the Rings","video":false,"vote_average":6.5,"vote_count":541}'
  recorded_at: Wed, 31 Mar 2021 02:55:01 GMT
- request:
    method: get
    uri: https://api.themoviedb.org/3/movie/123/reviews?api_key=DONT_LOOK&language=en-US&page=1
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Memc:
      - HIT
      X-Memc-Key:
      - 8c90b1c00714fe68ef71fe3114e0c72fcb78a229
      X-Memc-Age:
      - '9811'
      X-Memc-Expires:
      - '11789'
      Etag:
      - W/"efaf808243194fc5a6fabad65ed9db15"
    body:
      encoding: UTF-8
      string: '{"id":123,"page":1,"results":[],"total_pages":0,"total_results":0}'
  recorded_at: Wed, 31 Mar 2021 02:55:01 GMT
- request:
    method: get
    uri: https://api.themoviedb.org/3/movie/123/reviews?api_key=DONT_LOOK&language=en-US&page=2
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Memc:
      - MISS, STORE
      X-Memc-Key:
      - 2b700ef06cefe972d1793345568051aa20142ffa
      X-Memc-Age:
      - '0'
      X-Memc-Expires:
      - '21600'
      Last-Modified:
      - '2021-03-04 14:56:42 +0000'
    body:
      encoding: UTF-8
      string: '{"id":123,"page":2,"results":[],"total_pages":0,"total_results":0}'
  recorded_at: Wed, 31 Mar 2021 02:55:02 GMT
recorded_with: VCR 6.0.0
