<h1>Welcome to Viewing Party</h1>

<section class="description">
  <p>Invite your friends to a viewing party!</p>
</section>

<%= link_to 'I already have an account', login_path %>
<%= link_to 'Register as a User', new_user_path %>
