/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
@import "bootstrap";

body {
  margin: 0;
  padding: 0;
  background-color: #17a2b8;
  height: 100vh;
}

#login .container #login-row #login-column #login-box {
  margin-top: 120px;
  max-width: 600px;
  height: 320px;
  border: 1px solid #9C9C9C;
  background-color: #EAEAEA;
}

#login .container #login-row #login-column #login-box #login-form {
  padding: 20px;
}

#login .container #login-row #login-column #login-box #login-form #register-link {
  margin-top: -85px;
}

body {
  background-color: gray;
}

a {
  color: white;
}

h2 {
  text-shadow: 2px 0 0 rgb(5, 5, 5), -2px 0 0 rgb(2, 2, 2), 0 2px 0 rgb(5, 5, 5), 0 -2px 0 rgb(3, 3, 3), 1px 1px rgb(3, 3, 3), -1px -1px 0 rgb(3, 3, 3), 1px -1px 0 rgb(2, 2, 2), -1px 1px 0 rgb(5, 5, 5);
}

h3 {
  font-family: arial, sans-ser;
}

.my-custom-scrollbar {
  position: relative;
  height: 120px;
  overflow: auto;
}

.table-wrapper-scroll-y {
  display: block;
}

body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

main {
  flex: 1;
}

footer {
  display: flex;
  align-self: baseline;
  flex-direction: row;
}

.navbar-nav>li {
  padding-left: 30px;
  padding-right: 30px;
}